<div>
  <p-table
    [value]="users"
    [paginator]="true"
    [rows]="4"
    [(selection)]="selectedUsers"
    [selectionPageOnly]="true"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
    (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)"
    >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>ID</th>
        <th>Name</th>
        <!-- Add more columns as needed -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr>
        <td>
          <p-tableCheckbox [value]="users"></p-tableCheckbox>
      </td>
        <td>{{users.id}}</td>
        <td>{{users.name}}</td>
        <!-- Add more cells as needed -->
      </tr>
    </ng-template>
  </p-table>

</div>
